:host {
    .count-label {
        color: var(--gray-600);
    }
    .empty-img {
        max-width: 300px;
        width: 80%;
    }
    .my-products {
        .single-prod {
            .card-body {
                padding: 0;
                position:  relative !important;
                .infos {
                    position: absolute !important;
                    bottom: 0;
                    left: 0;
                    height: 40px;
                    background: var(--white);
                    opacity: .94;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    padding: 0 8px;
                    .label-prod {
                        margin-top: 8px;
                        font-size: 16px;
                    }
                }
                .menu {
                    right: 5px;
                    button {
                        background-color: var(--green-400) !important;
                    }
                }
            }
            img {
                width: 100%;
                aspect-ratio: 1;
                object-fit: cover;
                border-radius: 4px;
            }
            // .position-absolute {
            //     bottom: 0;
            //     height: 100%;
            //     background: var(--white);
            // }
        }
    }
}