:host {
    .count-label {
        color: var(--gray-600);
    }
    .empty-img {
        max-width: 300px;
        width: 80%;
    }
    .my-products {
        .single-prod {
            .card-body {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                min-height: 200px;
                padding: 0;
                position:  relative !important;
                .infos {
                    position: absolute !important;
                    bottom: 0;
                    left: 0;
                    height: 40px;
                    background: var(--white);
                    opacity: .94;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 8px;
                    .label-prod {
                        margin-top: 8px;
                        font-size: 16px;
                    }
                }
                .menu {
                    right: 5px;
                    button {
                        background-color: var(--green-400) !important;
                        width: 30px;
                        aspect-ratio: 1;
                        color: var(--white);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: none;
                        border-radius: 4px;
                        transition: scale ease-in-out .3s;
                    }
                    button:hover {
                        scale: 1.1;
                    }
                    a {
                        cursor: pointer;
                    }
                }
            }
            img {
                width: 100%;
                aspect-ratio: 1;
                object-fit: cover;
                border-radius: 4px;
            }
        }
    }
}