<section class="main-product" *ngIf="product">
    <div class="container">
        <h1 class="text-ellip fw-bold text-uppercase">{{product.productTitle}}</h1>
        <mat-divider></mat-divider>
        <mat-card class="p-2">
            <div class="row">
                <div class="col col-12 col-xl-10">
                    <div class="row">
                        <div class="col col-12 col-xl-7">
                            <div class="p-1 images" *ngIf="images && images.length>0">
                                <div class="main-image-container"
                                style="background-image: url({{imageThumbnailUrl+product.productMainImage}});">
                                    <img class="main-image" crossorigin="anonymous"
                                    src="{{imageBaseUrl+product.productMainImage}}" alt="{{product.productTitle}}">
                                </div>
                                <div class="others-images">
                                    <img class="img-thumbnail other-image" crossorigin="anonymous"
                                    src="{{imageBaseUrl+image.imageTitle}}"
                                    alt="{{product.productTitle}}" *ngFor="let image of images" 
                                    (click)="changeImage(image.imageTitle)">
                                </div> 
                            </div>
                        </div>
                        <div class="col col-12 col-xl-5">
                            <div class="p-1 middle-col">
                                <div class="d-flex">
                                    <div class="d-flex pt-4 px-2">
                                        <i class="fa-solid fa-truck-fast fa-2x" style="opacity:.95;"></i>
                                    </div>
                                    <div>
                                        <h5 class="text-ellip">LIVRAISON DISPONIBLE POUR CE PRODUIT</h5>
                                        <p class="mt-1">
                                            Ce bloc est configuré pour apparaître automatiquement sur les produits au-dessus d'un certain prix, qui peuvent bénéficier de la livraison gratuite ou d'autres avantages.
                                        </p>
                                    </div>
                                </div>
                                <nav class="mt-2">
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">DESCRIPTION</button>
                                        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">SPÉCIFICATIONS</button>
                                        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">COMMENTAIRES</button>
                                    </div>
                                </nav>
                                <div class="tab-content" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                                        <div class="position-relative">
                                            <div class="description">
                                                <p>{{product.productDescription}}</p>
                                                <div class="bottom-gradient"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                                        <table class="table table-striped">
                                            <thead>
                                              <tr>
                                                <th scope="col">Attribut</th>
                                                <th scope="col">Valeur</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr *ngFor="let feature of productFeatures">
                                                <td class="text-capitalize">{{feature['key']}}</td>
                                                <td class="text-capitalize">{{feature['value']}}</td>
                                              </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
                                        <div *ngIf="!actualUser">
                                            <h5 class="my-2 fw-bold text-uppercase">VOTRE AVIS</h5>
                                            <p>
                                                Veuillez vous <a routerLink="/security/connexion">connecter</a> ou vous <a routerLink="/security/inscription">inscrire</a> pour évaluer ce produit.
                                            </p>
                                        </div>
                                        <div [hidden]="!actualUser || alreadyRate" class="mb-2">
                                            <div class="d-flex justify-content-between align-items-center pt-2">
                                                <h5 class="my-2 fw-bold text-uppercase">VOTRE AVIS</h5>
                                                <div class="rating">
                                                    <input value="5" name="rating" id="star5" type="radio">
                                                    <label for="star5" (click)="changeRateValue(5)"></label>
                                                    <input value="4" name="rating" id="star4" type="radio">
                                                    <label for="star4" (click)="changeRateValue(4)"></label>
                                                    <input value="3" name="rating" id="star3" type="radio">
                                                    <label for="star3" (click)="changeRateValue(3)"></label>
                                                    <input value="2" name="rating" id="star2" type="radio">
                                                    <label for="star2" (click)="changeRateValue(2)"></label>
                                                    <input value="1" name="rating" id="star1" type="radio">
                                                    <label for="star1" (click)="changeRateValue(1)"></label>
                                                </div>
                                            </div>
                                            <textarea row="5" class="w-100" maxlength="60"
                                            [(ngModel)]="rateComment"
                                            placeholder="Entrez votre commentaire ici"></textarea>
                                            <div class="d-flex justify-content-end">
                                                <button class="btn btn-sm btn-dark"
                                                [ngClass]="{'disabled': rateValue===0 || rateComment===''}"
                                                (click)="createReview()">Soumettre</button>
                                            </div>
                                        </div>
                                        <div class="all-products-rates" *ngIf="reviews && reviews.length>0">
                                            <div class="product-rate" *ngFor="let review of reviews">
                                                <div class="stars" *ngIf="review.reviewAmount">
                                                    <i class="fa-solid fa-star" [ngClass]="{'light': review.reviewAmount>=1}"></i>
                                                    <i class="fa-solid fa-star" [ngClass]="{'light': review.reviewAmount>=2}"></i>
                                                    <i class="fa-solid fa-star" [ngClass]="{'light': review.reviewAmount>=3}"></i>
                                                    <i class="fa-solid fa-star" [ngClass]="{'light': review.reviewAmount>=4}"></i>
                                                    <i class="fa-solid fa-star" [ngClass]="{'light': review.reviewAmount>=5}"></i>
                                                </div>
                                                <p>{{review.reviewDescription}}</p>
                                                <h5 *ngIf="review.User" class="text-ellip">{{review.createdAt|date:'shortDate'}} par 
                                                    <span class="fw-bold">{{review.User.userLastName}} {{review.User.userFirstName}}</span></h5>
                                                <h5 *ngIf="!review.User" class="text-ellip">{{review.createdAt|date:'shortDate'}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col col-9">
                                        <div>
                                            <div class="d-flex align-items-center" *ngIf="reviews && reviews.length>0">
                                                <i class="fa-solid fa-cubes-stacked" style="color: var(--green-400);"></i>
                                                <span class="mx-1">Ce produit a été noté <span class="fw-bold">{{reviews.length}}</span> fois.</span>
                                            </div>
                                            <div class="d-flex align-items-center" *ngIf="!reviews || reviews.length===0">
                                                <i class="fa-solid fa-cubes-stacked" style="color: var(--green-400);"></i>
                                                <span class="mx-1">Il n'y a aucun avis sur ce produit.</span>
                                            </div>
                                            <ul class="my-2">
                                                <li class="mb-2">
                                                    <div *ngIf="product.productStock && product.productStock > 0">
                                                        <span class="fw-bold">Stock:</span> En Stock 
                                                        <i class="fa-solid fa-circle-check" style="color:#52b788;"></i>
                                                    </div>
                                                    <div *ngIf="!product.productStock || product.productStock == 0">
                                                        <span class="fw-bold">Stock:</span> Rupture de stock 
                                                        <i class="fa-solid fa-circle-xmark" style="color:#ef233c;"></i>
                                                    </div>
                                                </li>
                                                <li class="mb-2">
                                                    <span class="fw-bold">SKU:</span> akawor_{{product.id}}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col col-3">
                                        <div class="logo-shop" *ngIf="shop" matTooltip="{{shop.shopLibelle}}">
                                            <a class="text-center text-ellip" routerLink="/boutique/{{shop.shopSlug}}">
                                                <img src="assets/images/shops/logo-placeholder.jpeg" *ngIf="!shop.shopLogoImage"
                                                alt="{{shop.shopLibelle}}" class="img-thumbnail">
                                                <img src="{{imageShopUrl+shop.shopLogoImage}}" *ngIf="shop.shopLogoImage"
                                                alt="{{shop.shopLibelle}}" class="img-thumbnail">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <mat-divider></mat-divider>
                                <div class="d-flex flex-column flex-xl-row align-items-end align-items-xl-center justify-content-between">
                                    <h2 class="price">{{product.productPrice|my_currency}}</h2>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="actions h-100">
                                            <div class="input-cont d-flex align-items-center" 
                                            *ngIf="product.productStock && product.productStock > 1">
                                                <i class="fa-solid fa-chevron-left" (click)="decrement()"></i><br>
                                                <input type="number" [formControl]="valueControl" min="1" max="10">
                                                <i class="fa-solid fa-chevron-right" (click)="increment()"></i>
                                            </div>
                                            <button class="add-to-cart" matTooltip="Ajouter au panier" (click)="addToCart()"
                                            *ngIf="product.productStock && product.productStock > 1">
                                                <i class="fa-lg fa-solid fa-cart-shopping"></i>
                                            </button>
                                            <button class="add-to-wishlist" matTooltip="Ajouter à la liste de souhaits">
                                                <i class="fa-lg fa-solid fa-heart"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="share py-2 mt-3 d-flex align-items-center justify-content-between">
                                    <span>PARTAGER SUR</span>
                                    <div class="d-flex align-items-center">
                                        <button>
                                            <i class="fa-brands fa-whatsapp fa-beat"></i>
                                        </button>
                                        <button>
                                            <i class="fa-brands fa-facebook-f fa-beat"></i>
                                        </button>
                                        <button (click)="shareLink()">
                                            <i class="fa-solid fa-link fa-beat"></i>
                                        </button>
                                        <button>
                                            <i class="fa-solid fa-envelope fa-beat"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-xl-2 right-col">
                    <div class="p-1">
                        <div class="advices">
                            <div class="d-flex advice">
                                <div class="advice-icon-container">
                                    <i class="fa-xl fa-solid fa-truck-fast"></i>
                                </div>
                                <div class="p-1">
                                    <h6 class="m-0 fw-bold">ACHATS SÉCURISÉS</h6>
                                    <p class="m-0">Optimisées pour la sécurité</p>
                                </div>
                            </div>
                            <div class="d-flex advice">
                                <div class="advice-icon-container">
                                    <i class="fa-xl fa-solid fa-share"></i>
                                </div>
                                <div class="p-1">
                                    <h6 class="m-0 fw-bold">ACHATS SÉCURISÉS</h6>
                                    <p class="m-0">Optimisées pour la sécurité</p>
                                </div>
                            </div>
                            <div class="d-flex advice">
                                <div class="advice-icon-container">
                                    <i class="fa-xl fa-solid fa-shield-halved"></i>
                                </div>
                                <div class="p-1">
                                    <h6 class="m-0 fw-bold">ACHATS SÉCURISÉS</h6>
                                    <p class="m-0">Optimisées pour la sécurité</p>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="recentProducts && recentProducts.length>0">
                            <h4 class="mt-3 text-ellip fw-bold">Produits récents</h4>
                            <div class="title-divider" style="margin-top: -12px;"></div>
                            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="sameCategoryProductsConfig" >
                                <div ngxSlickItem *ngFor="let product of recentProducts">
                                    <app-product-card [product]="product"></app-product-card>
                                </div>
                            </ngx-slick-carousel>
                        </div>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="my-2">
                <div class="row">
                    <div class="col col-12 col-xl-6">
                        <div *ngIf="sameShopProducts && sameShopProducts.length>0">
                            <h4 class="fw-bold text-ellip">Produits de la même boutique</h4>
                            <div class="title-divider" style="margin-top: -12px;"></div>
                            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="sameShopProductsConfig" >
                                <div ngxSlickItem *ngFor="let product of sameShopProducts" class="p-1">
                                    <app-product-card [product]="product"></app-product-card>
                                </div>
                            </ngx-slick-carousel>
                        </div>
                    </div>
                    <div class="col col-12 col-xl-6">
                        <div *ngIf="sameCategoryProducts && sameCategoryProducts.length>0">
                            <h4 class="fw-bold text-ellip">Produits similaires</h4>
                            <div class="title-divider" style="margin-top: -12px;"></div>
                            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="sameShopProductsConfig" >
                                <div ngxSlickItem *ngFor="let product of sameCategoryProducts" class="p-1">
                                    <app-product-card [product]="product"></app-product-card>
                                </div>
                            </ngx-slick-carousel>
                        </div>
                    </div>
                    
                </div>
            </div>
        </mat-card>
    </div>
</section>