:host {
    .card {
        .card-header {
            font-size: 18px;
            font-family: 'Playfair Display', serif;
            font-weight: 800;
            font-size: 22px;
        }
    }
}