:host {
    .create-product {
        mat-card-content {
            .main-row {
                min-height: 300px;
            }
            .attr-group {
                position: relative;
                margin-bottom: 15px;
                input {
                    height: 54px;
                }
                input:focus {
                    box-shadow: none;
                    border: 1.5px solid var(--black);
                }
                .remove-btn {
                    right: 4px;
                    top: 4px;
                    scale: .9;
                    border-radius: 5px !important;
                }
            }
        }
        .list-group-item {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            i {
                display: flex;
                align-items: center;
                justify-content: center;
                background: var(--green-400);
                color: var(--white);
                border-radius: 50%;
                width: 30px;
                aspect-ratio: 1;
                margin-right: 10px;
            }
        }
        padding: 20px 0;
        background-color: var(--gray-400);
        .step-number {
            color: var(--red);
            margin-right: 7px;
        }
        .step-down-btn {
            background-color: var(--red);
            color: var(--white);
        }
        .disabled {
            opacity: .75;
            pointer-events: none;
        }
        .input-files {
            margin: 0 auto;
            img {
                cursor: pointer;
                aspect-ratio: 1;
                object-fit: cover;
            }
            .rm-img-btn {
                top: 8px;
                right: 10px;
                scale: .8;
                background-color: var(--green-400);
            }
        }
        h1 {
            font-family: 'Playfair Display', serif;
            font-size: 26px;
            font-weight: 600;
        }
        .progress-bar {
            background-color: var(--green-400);
        }
        h2 {
            font-size: 18px;
            font-weight: 500;
            margin: 0;
        }
        p {
            color: var(--gray-600);
            font-size: 14px;
        }
    }
}