<section class="manage-section">
    <div class="container">
        <div class="row">
            <div class="col col-3">
                <app-manage-aside activePath="manage-notifs"></app-manage-aside>
            </div>
            <div class="col col-9">
                <main class="h-100 p-3">
                    <h1>Gérer mes notifications</h1>
                    <div class="title-divider"></div>
                    <mat-card>
                        <mat-card-content>
                            <div class="d-flex justify-content-end">
                                <button class="btn mt-3 btn-dark" style="color:var(--white);">Mettre à jour</button>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </main>
            </div>
        </div>
    </div>
</section>