<main>
  <div class="container">
    <div class="row pt-4">
      <div class="col">
        <div class="card">
          <div class="card-content">
            <div class="cc-left">
              <h5 *ngIf="announcements">{{ announcements.length | number }}</h5>
              <h5 *ngIf="!announcements">0</h5>
              <span>Enregistré(s)</span>
            </div>
            <div class="cc-right">
              <i class="fa-solid fa-floppy-disk fa-lg"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-content">
            <div class="cc-left">
              <h5>{{amountOnlineAnnounces}}</h5>
              <span>En ligne</span>
            </div>
            <div class="cc-right">
              <i class="fa-solid fa-earth-americas fa-lg"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-content">
            <div class="cc-left">
              <h5>{{amountRuptureAnnounces}}</h5>
              <span>En rupture</span>
            </div>
            <div class="cc-right">
              <i class="fa-solid fa-battery-empty fa-lg"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-content">
            <div class="cc-left">
              <h5>{{amountBoostedAnnounces}}</h5>
              <span>Boostés</span>
            </div>
            <div class="cc-right">
              <i class="fa-solid fa-star fa-lg"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card mt-3">
      <div
        class="card-body d-flex align-items-center justify-content-between toolbar-card py-1"
      >
        <h4>Gestion des annonces</h4>
        <div class="actions d-flex align-items-center">
          <a
            class="btn btn-sm btn-dark mx-2"
            routerLink="/dashboard/announcements/create"
            >Nouvelle annonce</a
          >
          <button
            class="btn btn-sm btn-danger rm-btn"
            [ngClass]="{ disabled: selectedAnnouncements.length === 0 }"
          >
            Supprimer annonce(s)
          </button>
        </div>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-body">
        <table
          class="display"
          id="allAnnouncements"
          style="width: 100%"
          *ngIf="announcements"
        >
          <thead>
            <tr>
              <th>Image</th>
              <th>Libelle</th>
              <th>Catégorie</th>
              <th>Statut</th>
              <th>Date d'ajout</th>
              <th>Prix</th>
              <th matTooltip="Prix promotionnel">Prix prom.</th>
              <th>Boutique</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let prod of announcements; let index = index"
              (click)="addToSelected(prod)"
            >
              <td>
                <div class="d-flex align-items-center">
                  <img
                    src="{{ imgPath + '/' + prod.productMainImage }}"
                    alt="PRODUCT IMAGE"
                    class="img-thumbnail"
                    *ngIf="prod.productMainImage"
                    crossorigin="anonymous"
                  />
                </div>
              </td>
              <td>{{ prod.productTitle }}</td>
              <td>{{ prod.Category?.categoryLibelle }}</td>
              <td>
                <span
                  class="badge text-bg-success m-1"
                  *ngIf="prod.productState === 'ONLINE'"
                  >En ligne</span
                >
                <span
                  class="badge text-bg-info m-1"
                  *ngIf="prod.productState === 'DRAFT'"
                  >Brouillon</span
                >
                <span
                  class="badge text-bg-warning m-1"
                  *ngIf="prod.productState === 'AWAITING'"
                  >En attente de validation</span
                >
                <span
                  class="badge text-bg-danger m-1"
                  *ngIf="prod.productState === 'REVOKED'"
                  >Annonce révoquée</span
                >
              </td>
              <td>{{ prod.createdAt | date }}</td>
              <td>{{ prod.productPrice | my_currency }}</td>
              <td>
                <span *ngIf="prod.productPricePromo">{{ prod.productPricePromo | my_currency }}</span>
                <span *ngIf="!prod.productPricePromo">-</span>
              </td>
              <td>{{ prod.Shop?.shopLibelle }}</td>
              <td>
                <div
                  class="btn-group"
                  role="group"
                  aria-label="Button group with nested dropdown"
                >
                  <button type="button" class="text-nowrap btn btn-sm btn-outline-dark"
                  (click)="openDialogDetails(prod)">
                    Plus d'infos
                  </button>
                  <div class="btn-group" role="group">
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-dark dropdown-toggle"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    ></button>
                    <ul class="dropdown-menu">
                      <li><button class="dropdown-item" (click)="editProduct(prod)">Modifier</button></li>
                      <li><button class="dropdown-item" (click)="deleteProduct(prod)">Supprimer</button></li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>Image</th>
              <th>Libelle</th>
              <th>Catégorie</th>
              <th>Statut</th>
              <th>Date d'ajout</th>
              <th>Prix</th>
              <th matTooltip="Prix promotionnel">Prix prom.</th>
              <th>Boutique</th>
              <th>Actions</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</main>
