<section class="my-account-section">
    <div class="container">
        <h1>Mon compte</h1>
        <mat-divider></mat-divider>
        <h4 class="text-ellip fw-bold mt-4">Mes informations</h4>
        <div class="title-divider"></div>
        <div class="row row-cols-6 mb-4">
            <div class="col">
                <a routerLink="/parametres/compte-et-profile">
                    <div class="action">
                        <i class="fa-2x fa-solid fa-pen-to-square"></i>
                        <span class="text-center">Modifier les informations<br>de votre compte</span>
                    </div>
                </a>
            </div>
            <div class="col">
                <a routerLink="/compte/changer-mot-de-passe">
                    <div class="action">
                        <i class="fa-2x  fa-solid fa-lock"></i>
                        <span class="text-center">Changez votre mot de passe</span>
                    </div>
                </a>
            </div>
            <div class="col">
                <a routerLink="/livraisons/mes-adresses">
                    <div class="action">
                        <i class="fa-2x  fa-solid fa-map-location-dot"></i>
                        <span class="text-center">Modifier vos adresses de livraison</span>
                    </div>
                </a>
            </div>
            <div class="col">
                <a routerLink="/ma-liste-de-souhaits">
                    <div class="action">
                        <i class="fa-2x  fa-solid fa-heart-circle-plus"></i>
                        <span class="text-center">Modifier votre liste de souhaits</span>
                    </div>
                </a>
            </div>
        </div>
        <!-- CLIENT -->
        <div >
            <!-- *ngIf="isSeller" -->
            <h4 class="text-ellip fw-bold">Mes commandes</h4>
            <div class="title-divider"></div>
            <div class="row row-cols-6 mb-4">
                <div class="col">
                    <a routerLink="/commandes">
                        <div class="action">
                            <i class="fa-2x fa-solid fa-clock-rotate-left"></i>
                            <span class="text-center">Voir l'historique de vos commandes</span>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a routerLink="">
                        <div class="action">
                            <i class="fa-2x fa-solid fa-money-bill-transfer"></i>
                            <span class="text-center">Voir vos transactions</span>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a routerLink="">
                        <div class="action">
                            <i class="fa-2x fa-solid fa-file-invoice"></i>
                            <span class="text-center">Voir vos paiements récurrents</span>
                        </div>
                    </a>
                </div>
            </div>
            <h4 class="text-ellip fw-bold">Newsletter</h4>
            <div class="title-divider"></div>
            <div class="row row-cols-6 mb-4">
                <div class="col">
                    <a routerLink="">
                        <div class="action">
                            <i class="fa-2x fa-solid fa-envelope"></i>
                            <span class="text-center">S'inscrire/Se désinscrire de la newsletter</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- VENDEUR  -->
        <div >
            <!-- *ngIf="!isSeller" -->
            <h4 class="text-ellip fw-bold mt-4">Mes annonces</h4>
            <div class="title-divider"></div>
            <div class="row row-cols-6 mb-4">
                <div class="col">
                    <a routerLink="/produits/nouvelle-annonce">
                        <div class="action">
                            <i class="fa-2x fa-solid fa-upload"></i>
                            <span class="text-center">Publier une annonce</span>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a routerLink="/produits/mes-annonces">
                        <div class="action">
                            <i class="fa-2x fa-solid fa-list"></i>
                            <span class="text-center">Gérer mes annonces</span>
                        </div>
                    </a>
                </div>
            </div>
            <h4 class="text-ellip fw-bold mt-4">Ma boutique</h4>
            <div class="title-divider"></div>
            <div class="row row-cols-6 mb-4">
                <div class="col">
                    <a routerLink="/parametres/ma-boutique">
                        <div class="action">
                            <i class="fa-solid fa-store fa-2x"></i>
                            <span class="text-center">Gérer ma boutique</span>
                        </div>
                    </a>
                </div>
                <!-- <div class="col">
                    <div class="action">
                        <i class="fa-2x  fa-solid fa-lock"></i>
                        <span class="text-center">Changez votre mot de passe</span>
                    </div>
                </div>
                <div class="col">
                    <div class="action">
                        <i class="fa-2x  fa-solid fa-map-location-dot"></i>
                        <span class="text-center">Modifier vos adresses de livraison</span>
                    </div>
                </div>
                <div class="col">
                    <div class="action">
                        <i class="fa-2x  fa-solid fa-heart-circle-plus"></i>
                        <span class="text-center">Modifier votre liste de souhaits</span>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</section>