<section class="manage-section">
    <div class="container">
        <div class="row">
            <div class="col col-3">
                <app-manage-aside activePath="manage-deliveries"></app-manage-aside>
            </div>
            <div class="col col-9">
                <main>
                    <h1>Mes livraisons</h1>
                    <mat-card>
                      <mat-card-content>
                        <table id="myDeliveries" class="display" style="width: 100%">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Position</th>
                              <th>Office</th>
                              <th>Age</th>
                              <th>Start date</th>
                              <th>Salary</th>
                            </tr>
                          </thead>
                          <tbody>
                            <!-- <tr>
                              <td>Tiger Nixon</td>
                              <td>System Architect</td>
                              <td>Edinburgh</td>
                              <td>61</td>
                              <td>2011-04-25</td>
                              <td>$320,800</td>
                            </tr> -->
                          </tbody>
                          <tfoot>
                            <tr>
                              <th>Name</th>
                              <th>Position</th>
                              <th>Office</th>
                              <th>Age</th>
                              <th>Start date</th>
                              <th>Salary</th>
                            </tr>
                          </tfoot>
                        </table>
                      </mat-card-content>
                    </mat-card>
                      
                </main>
            </div>
        </div>
    </div>
</section>