<main class="d-flex align-items-center justify-content-center position-relative">
    <div class="position-absolute d-block d-xl-none" style="top: 50px;">
        <div class="d-flex align-items-center align-items-center">
            <a routerLink="/">
                <img src="../../../../assets/images/identities/akawor-nobg.png"
                 alt="akawor logo" style="max-width: 150px;">
            </a>
        </div>
    </div>
    <mat-card class="bg-white">
        <mat-card-content class="p-0">
            <div class="d-flex">
                <div class="col left-part d-none d-xl-flex">
                    <div class="glass">
                        <a routerLink="/">
                            <img src="../../../../assets/images/identities/akawor-nobg.png" alt="logo akawor" class="">
                        </a>
                    </div>
                </div>
                <div class="col right-part">
                    <div class="login-form">
                        <h2>Hey, Salut 👋</h2>
                        <p class="mb-3">
                            Entrez vos identifiants pour vous authentifier !
                        </p>
                        <mat-form-field appearance="outline" class="w-100 mt-3">
                            <mat-label>Adresse e-mail</mat-label>
                            <input matInput placeholder="mail@xyz.com" [formControl]="emailControl" />
                            <mat-icon matSuffix>alternate_email</mat-icon>
                            <mat-hint>Identifiant</mat-hint>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-100 mt-3">
                            <mat-label>Mot de passe</mat-label>
                            <input matInput placeholder="xxxxxxxxx" [type]="hidePassword ? 'password' : 'text'" [formControl]="passwordControl" />
                            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-pressed]="hidePassword">
                                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-hint>Mot de passe</mat-hint>
                        </mat-form-field>
                        <button [ngClass]="{'desactived': passwordControl.invalid || emailControl.invalid}" class="login-btn w-100 mt-4" (click)="login()">S'identifier</button>
                        <div class="d-flex align-items-center justify-content-between mt-2">
                            <mat-checkbox color="primary" [(ngModel)]="checkedRemember">Gardez-moi connecté</mat-checkbox>
                            <button (click)="forgetPassword()" class="forget-btn">Mot de passe oublié ?</button>
                        </div>
                        <div class="or position-relative my-3">
                            <span class="position-absolute">OU</span>
                            <mat-divider></mat-divider>
                        </div>
                        <div class="socials-login pt-2">
                            <!-- <button class="gg-btn social-btn">
                                <img src="../../../../assets/images/google.svg" width="20" alt="google login">
                            </button> -->
                            <div id="g_id_onload"
                                data-client_id="312282810078-o0u3srclijh0hc6gqpe14ihtoehgh8bo.apps.googleusercontent.com"
                                data-context="signin"
                                data-ux_mode="popup"
                                data-login_uri="http://localhost:3001/v1/api/security/login/google"
                                data-auto_select="true"
                                data-itp_support="true">
                            </div>

                            <div class="g_id_signin"
                                data-type="standard"
                                data-shape="pill"
                                data-theme="filled_blue"
                                data-text="signin_with"
                                data-size="large"
                                data-logo_alignment="left">
                            </div>
                            <button class="fb-btn social-btn">
                                <img src="../../../../assets/images/facebook.svg" width="20" alt="facebook login">
                            </button>
                        </div>
                        <p class="footer-text text-center mt-2">Vous avez pas de compte ? <a routerLink="/security/inscription" class="fw-bold">Inscrivrez-vous</a></p>
                        <p class="footer-text text-center">Vous rencontrez des soucis techniques ? <a routerLink="/contact" class="fw-bold">Contactez-nous</a></p>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</main>
