<main>
  <div class="container">
    <div class="row pt-4">
      <div class="col">
        <div class="card">
          <div class="card-content">
            <div class="cc-left">
              <h5>12,000</h5>
              <span>Vendeurs</span>
            </div>
            <div class="cc-right">
              <i class="fa-solid fa-users-gear fa-lg"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-content">
            <div class="cc-left">
              <h5>12,000</h5>
              <span>Acheteurs</span>
            </div>
            <div class="cc-right">
              <i class="fa-solid fa-users fa-lg"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-content">
            <div class="cc-left">
              <h5>12,000</h5>
              <span>Commandes</span>
            </div>
            <div class="cc-right">
              <i class="fa-sharp fa-solid fa-box fa-lg"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-content">
            <div class="cc-left">
              <h5>12,000</h5>
              <span>Revenues</span>
            </div>
            <div class="cc-right">
              <i class="fa-solid fa-dollar-sign fa-lg"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</main>