:host {
    main {
        min-height: calc(100vh - 64px);
        height:100%;
        background-color: var(--gray-400);
    }
    .card {
        .card-content {
            min-height: 70px;
            padding: 10px 20px;
            display: flex;
            .cc-left, .cc-right {
                width: 50%;
            }
            .cc-left {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 10px;
                h5, span {
                    margin: 0;
                    padding: 0;
                }
                h5 {
                    font-size: 20px;
                    white-space: nowrap;
                    font-weight: 500;
                }
                span {
                    color: var(--gray-600);
                    margin-top: 5px;
                    font-weight: 700;
                    font-family: 'Jost', sans-serif;
                }
            }
            .cc-right {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                i {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 40px;
                    width: 40px;
                    margin-right: 10px;
                    border-radius: 4px;
                    background-color: var(--red);
                    color: var(--white);
                }
            }
        }
        .canvas-holder {
            h5 {
                color: var(--gray-600);
            }
        }
    }
    .card-label {
        font-weight: 800;
        color: var(--gray-600);
        margin-bottom: 5px;
        font-size: 12px;
    }
    .label-btn {
        font-size: 12px;
        font-weight: 800;
    }
    .latest-products {
        max-height: 380px;
        overflow: scroll;
        // padding-bottom: 50px;
        .bottom-gradient {
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;
            height: 75px;
            background: rgb(0,0,0);
            background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 100%);
        }
        .latest-product {
            background-color: var(--gray-400);
            padding: 10px;
            margin-bottom: 15px;
            border-radius: 7px;
            .img-holder {
                min-width: 85px;
                aspect-ratio: 1;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 5px;
                img {
                    width: 100%;
                    height: 100%;
                    scale:1.008;
                    object-fit: cover;
                }
            }
            h4 {
                margin: 0;
                padding: 0;
                font-size: 16px;
                font-family: 'Jost', sans-serif;
                font-weight: bold;
                color: var(--black);
            }
            p {
                color: var(--gray-600);
                margin-top: 5px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3; /* number of lines to show */
                        line-clamp: 3; 
                -webkit-box-orient: vertical;
            }
            span {
                font-size: 22px;
            }
        }
    }
    .new-customers {
        max-height: 620px;
        overflow: scroll;
        padding-bottom: 50px;
        .bottom-gradient {
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;
            height: 75px;
            background: rgb(0,0,0);
            background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 100%);
        }
        .new-customer {
            background-color: var(--gray-400);
            padding: 10px;
            margin-bottom: 15px;
            border-radius: 7px;
            img {
                width: 100%;
                max-width: 85px;
                aspect-ratio: 1;
                object-fit: contain;
            }
            h4 {
                font-family: 'Jost', sans-serif;
                margin: 0;
            }
            p {
                color: var(--gray-600);
                margin: 0;
            }
        }
    }
}