<main>
  <div class="container">
    <div class="row pt-4">
      <div class="col">
        <div class="card">
          <div class="card-content">
            <div class="cc-left">
              <h5>12,000</h5>
              <span>Vendeurs</span>
            </div>
            <div class="cc-right">
              <i class="fa-solid fa-users-gear fa-lg"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-content">
            <div class="cc-left">
              <h5>12,000</h5>
              <span>Acheteurs</span>
            </div>
            <div class="cc-right">
              <i class="fa-solid fa-users fa-lg"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-content">
            <div class="cc-left">
              <h5>12,000</h5>
              <span>Commandes</span>
            </div>
            <div class="cc-right">
              <i class="fa-sharp fa-solid fa-box fa-lg"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-content">
            <div class="cc-left">
              <h5>12,000</h5>
              <span>Revenues</span>
            </div>
            <div class="cc-right">
              <i class="fa-solid fa-dollar-sign fa-lg"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-4 g-4">
      <div class="col col-8">
        <div class="card h-100 position-relative">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between mb-2">
              <h4 class="card-label">DERNIERS ANNONCES</h4>
              <a routerLink="/dashboard/announcements" class="btn btn-sm btn-dark label-btn">GÉRER ANNONCES</a>
            </div>
            <mat-divider></mat-divider>
            <div class="mt-3 latest-products" *ngIf="latestProducts && latestProducts.length>0">
              <div class="latest-product" *ngFor="let product of latestProducts">
                <div class="row">
                  <div class="col col-2">
                    <div class="img-holder"
                    style="background-image: url({{imageThumbnailUrl+product.productMainImage}});">
                      <img src="{{imgPath+'/'+product.productMainImage}}" 
                      class="img-thumbnail" crossorigin="anonymous">
                    </div>
                  </div>
                  <div class="col col-7">
                    <div>
                      <h4 class="text-ellip">{{product.productTitle}}</h4>
                      <p>{{product.productDescription}}</p>
                    </div>
                  </div>
                  <div class="col col-3">
                    <div class="text-center pt-3">
                      <span *ngIf="!product.productPricePromo">{{product.productPrice|currency}}</span>
                      <span *ngIf="product.productPricePromo">{{product.productPricePromo|currency}}</span>
                      <p *ngIf="product.productPricePromo"><del>{{product.productPrice|currency}}</del></p>
                      <h5>0 vente(s)</h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bottom-gradient"></div>
            </div>
            <div class="d-flex flex-column align-items-center justify-content-center h-100" *ngIf="!latestProducts || latestProducts.length===0">
              <img matTooltip="Pas d'annonces enregistrés"
              src="../../../../../assets/images/empty.svg" class="mb-4" style="max-width: 90%;width: 350px;">
            </div>
          </div>
        </div>
      </div>
      <div class="col col-4">
        <div class="card h-100">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between mb-2">
              <h4 class="card-label">MEILLEURES BOUTIQUES</h4>
              <a routerLink="/dashboard/shops" class="btn btn-sm btn-dark label-btn" disabled>GÉRER BOUTIQUES</a>
            </div>
            <mat-divider></mat-divider>
            <div class="canvas-holder mt-3">
              <canvas id="chartCanvas" aria-label="chart" role="img"></canvas>
              <h5 class="fw-bold text-center mt-2">NOMBRE DE VENTES</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-4">
        <div class="card h-100 position-relative">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between mb-2">
              <h4 class="card-label">DERNIERS CLIENTS</h4>
              <a routerLink="/dashboard/customers" class="btn btn-sm btn-dark label-btn">GÉRER CLIENTS</a>
            </div>
            <mat-divider></mat-divider>
            <div class="new-customers mt-3">
              <div class="new-customer" *ngFor="let customer of latestProducts">
                <div class="row">
                  <div class="col col-4">
                    <div class="d-flex align-items-center">
                      <img src="../../../../../assets/images/users/user-placeholder.png" 
                      class="img-thumbnail" crossorigin="anonymous">
                    </div>
                  </div>
                  <div class="col col-8">
                    <div>
                      <h4 class="text-ellip fw-bold">Cheikh Tidiane Ndiaye</h4>
                      <p class="text-ellip my-1">cheikhtiindiaye@gmail.com</p>
                      <span class="badge text-bg-info">2 commandes</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bottom-gradient"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-8">
        <div class="card h-100">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between mb-2">
              <h4 class="card-label">DERNIÈRES COMMANDES</h4>
              <a routerLink="/dashboard/commands" class="btn btn-sm btn-dark label-btn">GÉRER COMMANDES</a>
            </div>
            <mat-divider></mat-divider>
            <div class="mt-3">
              <table id="latestCommands" class="display" style="width: 100%">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Client</th>
                    <th>N° produits</th>
                    <th>Date</th>
                    <th>Montant</th>
                    <th>Statut</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let command of latestCommands; let index = index">
                    <td>{{index+1}}</td>
                    <td>Modou Dieng</td>
                    <td>15</td>
                    <td>2011-04-25</td>
                    <td>6100$</td>
                    <td>
                      <span class="badge text-bg-warning">En attente</span>
                    </td>
                    <td>
                      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                        <button type="button" class="btn btn-sm btn-outline-dark">Plus d'infos</button>
                        <div class="btn-group" role="group">
                          <button type="button" class="btn btn-sm btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></button>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action #1</a></li>
                            <li><a class="dropdown-item" href="#">Action #2</a></li>
                          </ul>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th>ID</th>
                    <th>Client</th>
                    <th>N° produits</th>
                    <th>Date</th>
                    <th>Montant</th>
                    <th>Statut</th>
                    <th>Actions</th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
