:host {
    .card {
        h4 {
            font-family: 'Jost', sans-serif;
            font-weight: 700;
        }
    }    
    .stepper {
        position: relative;
        max-width: 800px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .stepper-line {
            height: 8px;
            width: 99%;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            background-color: var(--green-400);
            position: absolute;
            .stepper-line-percent {
                height: 100%;
                width: 0;
                background: var(--red);
                transition: all .3s ease-in-out;
            }
        }
        .single-stepper {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            width: 50px;
            height: 50px;
            border: 5px solid var(--green-400);
            background-color: var(--white);
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--green-400);
            border-radius: 50%;
            z-index: 99;
            transition: all .5s ease-in-out;
        }
        .single-stepper.active {
            background-color: var(--green-500);
            color: var(--white);
        }
    }
    .all-methods {
        .method {
            max-width: 420px;
            display: flex;
            background-color: var(--gray-400);
            padding: 10px;
            border-radius: 7px;
            cursor: pointer;
            img {
                max-width: 80px;
                object-fit: contain;
            }
            .price {
                font-size: 22px;
            }
            transition: box-shadow .3s ease-in-out;
        }
        .method.active {
            border: .5px solid var(--green-400);
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        }
    }
    .payment-methods {
        .method {
            display: flex;
            align-items: center;
            max-width: 420px;
            height: 50px;
            background-color: var(--gray-400);
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
            img {
                max-width: 60px;
                object-fit: contain;
            }
            transition: box-shadow .3s ease-in-out;
        }
        .method.active {
            border: .5px solid var(--green-400);
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        }
        .method.disabled {
            opacity: .6;
            pointer-events: none;
        }
    }
    .summaries {
        .summary {
            h5 {
                font-size: 14px;
            }
            span {
                font-size: 20px;
                font-weight: 700;
            }
        }
    }
    .products {
        max-height: 250px;
        overflow-x: hidden;
        overflow-y: scroll;
        .product {
            img {
                aspect-ratio: 1;
                object-fit: cover;
            }
            h5 {
                font-size: 17px;
            }
            p {
                color: var(--gray-600);
            }
        }
        .bottom-gradient {
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 10px;
            height: 50px;
            background: rgb(0,0,0);
            background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 100%);
        }
    }
}

