<article class="product-card" *ngIf="product">
    <a href="/produits/{{product.productSlug}}" style="text-decoration: none;">
        <div class="img-holder position-relative" *ngIf="product.productMainImage"
        style="background-image: url({{imageThumbnailUrl+product.productMainImage}});">
            <img src="{{imageBaseUrl+product.productMainImage}}" 
            alt="{{product.productTitle}}"
            loading="lazy" crossorigin="anonymous">
            <div class="position-absolute zoom-icon">
                <i class="fa-solid fa-magnifying-glass-plus"></i>
            </div>
        </div>
        <div class="img-holder position-relative" *ngIf="!product.productMainImage">
            <img src="../../../../../../assets/images/products/product-placeholder.png" 
            alt="product placeholder" 
            loading="lazy">
            <div class="position-absolute zoom-icon">
                <i class="fa-solid fa-magnifying-glass-plus"></i>
            </div>
        </div>
    </a>
    <div class="infos">
        <div class="top-infos">
            <span class="text-ellip text-center">{{product.productTitle}}</span>
        </div>
        <mat-divider></mat-divider>
        <div class="text-center">
            <span class="text-ellip category w-100">chaussure</span>
            <div class="price-actions position-relative">
                <span class="text-ellip price">{{product.productPrice|currency}}</span>
                <div class="actions position-absolute">
                    <div class="input-cont d-flex align-items-center h-100">
                        <i class="fa-solid fa-chevron-left" (click)="decrement()"></i><br>
                        <input type="number" min="1" max="10" style="pointer-events: none;" [formControl]="valueControl">
                        <i class="fa-solid fa-chevron-right" (click)="increment()"></i>
                    </div>
                    <button matTooltip="Ajouter au panier" class="add-to-cart" (click)="addToCart()">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </button>
                    <button matTooltip="Ajouter à la liste de souhaits" class="add-to-wishlist" (click)="addToWishlist()">
                        <i class="fa-solid fa-heart"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</article>