<!-- hero section  -->
<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col col-2">
                <div class="hero-aside container h-100">
                    <h4 class="text-ellip">Toutes catégories</h4>
                    <div class="title-divider"></div>
                    <ul>
                        <li>
                            <a class="text-ellip" href="" matTooltip="Cosmétique, Santé et Bien-être">
                                <i class="fa-solid fa-heart"></i>
                                <span>Cosmétique, Santé et Bien-être</span>
                            </a>
                        </li>
                        <li>
                            <a class="text-ellip" href="" matTooltip="Mode & Accessoires">
                                <i class="fa-solid fa-person-half-dress"></i>
                                <span>Mode & Accessoires</span>
                            </a>
                        </li>
                        <li>
                            <a class="text-ellip" href="" matTooltip="Produits alimentaires">
                                <i class="fa-solid fa-cookie-bite"></i>
                                <span>Produits alimentaires</span>
                            </a>
                        </li>
                    </ul>
                    <h4 class="text-ellip mt-4">Best-sellers</h4>
                    <div class="title-divider"></div>
                    <div class="bestsellers">
                        <div class="single-bestseller" *ngFor="let bestseller of bestsellersProducts">
                            <div>
                                <div class="row">
                                    <div class="col col-4">
                                        <div class="w-100 h-100">
                                            <img src="{{imagePath}}{{bestseller.img}}" alt="{{bestseller.libelle}}">
                                        </div>
                                    </div>
                                    <div class="col col-8">
                                        <div class="">
                                            <h5 class="text-ellip m-0 fw-bold">{{bestseller.libelle}}</h5>
                                            <h6 class="text-ellip">{{bestseller.price}}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-8 hero-banner">
                <ngb-carousel *ngIf="heroBanners">
                    <ng-template ngbSlide *ngFor="let banner of heroBanners">
                        <div class="picsum-img-wrapper">
                            <img [src]="banner.imgPath" alt="Random first slide" />
                        </div>
                        <div class="carousel-caption">
                            <h3>First slide label</h3>
                            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                        </div>
                    </ng-template>
                </ngb-carousel>
                <mat-card>
                    <mat-card-content>
                        <div class="row">
                            <div class="col">
                                <div class="d-flex flex-column justify-content-center">
                                    <img src="../../../../assets/images/delivery.svg" alt="Livraison rapide et securisée">
                                    <h5>Livraison rapide et sécurisée</h5>
                                    <p>
                                        Nous livrons partout au Sénégal et en France.
                                    </p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="d-flex flex-column justify-content-center">
                                    <img src="../../../../assets/images/support.svg" alt="Un service client à votre écoute ">
                                    <h5>Un service client à votre écoute</h5>
                                    <p>
                                        Assistance 24h/24 pour une expérience inoubliable.
                                    </p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="d-flex flex-column justify-content-center">
                                    <img src="../../../../assets/images/secure.svg" alt="Paiement sécurisé">
                                    <h5>Paiement sécurisé</h5>
                                    <p>
                                        Des méthodes de paiement populaires et sécurisées.
                                    </p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="d-flex flex-column justify-content-center">
                                    <img src="../../../../assets/images/online_shop.svg" alt="Produits made in Senegal">
                                    <h5>Produits made in Senegal </h5>
                                    <p>
                                        Les meilleurs artisans sénégalais pour vous.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col col-2">
                <div class="hero-aside container h-100">
                    <h4 class="text-ellip">Principales catégories</h4>
                    <div class="title-divider"></div>
                    <div class="row row-cols-2 g-2">
                        <div class="col">
                            <div class="top-category">
                                <i class="fa-solid fa-shirt"></i>
                                <span class="text-ellip mt-2">Fashion</span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="top-category">
                                <i class="fa-solid fa-wand-magic-sparkles"></i>
                                <span class="text-ellip mt-2">Beauté</span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="top-category">
                                <i class="fa-solid fa-shoe-prints"></i>
                                <span class="text-ellip mt-2">Chaussure</span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="top-category">
                                <i class="fa-solid fa-house"></i>
                                <span class="text-ellip mt-2">Maison</span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="top-category">
                                <i class="fa-solid fa-burger"></i>
                                <span class="text-ellip mt-2">Nourriture</span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="top-category">
                                <i class="fa-solid fa-blender-phone"></i>
                                <span class="text-ellip mt-2">Fourniture</span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="top-category">
                                <i class="fa-solid fa-baby"></i>
                                <span class="text-ellip mt-2">Bébé & enfants</span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="top-category">
                                <i class="fa-solid fa-shirt"></i>
                                <span class="text-ellip mt-2">Electroniques</span>
                            </div>
                        </div>
                    </div>
                    <h4 class="mt-4 text-ellip">Témoignages</h4>
                    <div class="title-divider"></div>
                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideTestimonialsConfig" >
                        <div ngxSlickItem *ngFor="let testimonial of testimonials">
                            <p>
                                <i class="fa-solid fa-quote-left"></i>
                                {{testimonial.message}}<br>
                            </p>
                            <span class="fw-bold text-ellip">&#126; {{testimonial.author}}</span>
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- tabs section  -->
<mat-divider></mat-divider>
<section class="tabs-section">
    <div class="container">
        <div class="row">
            <div class="col col-2">
                <div class="tabs-aside h-100">
                    <h4 class="text-ellip">Tous catégories</h4>
                    <div class="title-divider"></div>
                </div>
            </div>
            <div class="col col-10">
                <div class="container py-5">
                    <ul class="nav" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                          <button class="nav-link active" id="news-tab" data-bs-toggle="tab" data-bs-target="#news-tab-pane" type="button" role="tab" aria-controls="news-tab-pane" aria-selected="true">NOUVEAUX</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="bestsellers-tab" data-bs-toggle="tab" data-bs-target="#bestsellers-tab-pane" type="button" role="tab" aria-controls="bestsellers-tab-pane" aria-selected="false">BESTSELLERS</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="rated-tab" data-bs-toggle="tab" data-bs-target="#rated-tab-pane" type="button" role="tab" aria-controls="rated-tab-pane" aria-selected="false">MIEUX NOTÉS</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="specials-tab" data-bs-toggle="tab" data-bs-target="#specials-tab-pane" type="button" role="tab" aria-controls="specials-tab-pane" aria-selected="false">EN PROMOTION</button>
                        </li>
                      </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="news-tab-pane" role="tabpanel" aria-labelledby="news-tab" tabindex="0">
                            <div class="container">
                                <div class="row" *ngIf="isProductsLoaded">
                                    <div class="col" *ngFor="let bestseller of bestsellersProducts">
                                        <app-product-card></app-product-card>
                                    </div>
                                </div>
                                <div class="row" *ngIf="!isProductsLoaded">
                                    <div class="col">
                                        <app-product-card-loader></app-product-card-loader>
                                    </div>
                                    <div class="col">
                                        <app-product-card-loader></app-product-card-loader>
                                    </div>
                                    <div class="col">
                                        <app-product-card-loader></app-product-card-loader>
                                    </div>
                                    <div class="col">
                                        <app-product-card-loader></app-product-card-loader>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="bestsellers-tab-pane" role="tabpanel" aria-labelledby="bestsellers-tab" tabindex="0">
                            <div class="container">
                                <div class="row" *ngIf="isProductsLoaded">
                                    <div class="col" *ngFor="let bestseller of bestsellersProducts">
                                        <app-product-card></app-product-card>
                                    </div>
                                </div>
                                <div class="row" *ngIf="!isProductsLoaded">
                                    <div class="col">
                                        <app-product-card-loader></app-product-card-loader>
                                    </div>
                                    <div class="col">
                                        <app-product-card-loader></app-product-card-loader>
                                    </div>
                                    <div class="col">
                                        <app-product-card-loader></app-product-card-loader>
                                    </div>
                                    <div class="col">
                                        <app-product-card-loader></app-product-card-loader>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="rated-tab-pane" role="tabpanel" aria-labelledby="rated-tab" tabindex="0">
                            <div class="container">
                                <div class="row" *ngIf="isProductsLoaded">
                                    <div class="col" *ngFor="let bestseller of bestsellersProducts">
                                        <app-product-card></app-product-card>
                                    </div>
                                </div>
                                <div class="row" *ngIf="!isProductsLoaded">
                                    <div class="col">
                                        <app-product-card-loader></app-product-card-loader>
                                    </div>
                                    <div class="col">
                                        <app-product-card-loader></app-product-card-loader>
                                    </div>
                                    <div class="col">
                                        <app-product-card-loader></app-product-card-loader>
                                    </div>
                                    <div class="col">
                                        <app-product-card-loader></app-product-card-loader>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="specials-tab-pane" role="tabpanel" aria-labelledby="specials-tab" tabindex="0">
                            <div class="container">
                                <div class="row" *ngIf="isProductsLoaded">
                                    <div class="col" *ngFor="let bestseller of bestsellersProducts">
                                        <app-product-card></app-product-card>
                                    </div>
                                </div>
                                <div class="row" *ngIf="!isProductsLoaded">
                                    <div class="col">
                                        <app-product-card-loader></app-product-card-loader>
                                    </div>
                                    <div class="col">
                                        <app-product-card-loader></app-product-card-loader>
                                    </div>
                                    <div class="col">
                                        <app-product-card-loader></app-product-card-loader>
                                    </div>
                                    <div class="col">
                                        <app-product-card-loader></app-product-card-loader>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- promote section  -->
<section class="promote-section">
    <div class="container text-center">
        <h2>Unlimited Blocks</h2>
        <p class="my-3">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus neque dolore recusandae error a distinctio, doloribus explicabo, dolorum similique et veritatis? Vero deserunt illo accusantium aperiam dicta beatae, quia natus?
        </p>
        <button>
            <span>ACHETER MAINTENANT</span>
            <i class="fa-solid fa-arrow-right"></i>
        </button>
    </div>
</section>

<!-- catalog section  -->
<section class="catalog-section">
    <div class="container">
        <h2>Parcourez notre catalogue</h2>
        <div class="title-divider"></div>
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideCategoriesConfig" >
            <div ngxSlickItem *ngFor="let category of categories">
                <div class="container">
                    <div class="catalog-single">
                        <h4 class="fw-bold text-ellip">
                            {{category.libelle}}
                        </h4>
                        <div class="title-divider text-center" style="margin-top: -10px;"></div>
                        <ul>
                            <li *ngFor="let sub of category.childs">
                                <a href="">{{sub}}</a>
                            </li>
                        </ul>
                        <a href="" class="d-flex align-items-center justify-content-center" style="text-decoration: none;">
                            <i class="fa-solid fa-circle-chevron-right"></i>
                            <span>Tous les produits</span>
                        </a>
                        <a href="">
                            <img [src]="category.img" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </ngx-slick-carousel>
    </div>
</section>