:host {
    section {
        h2 {
            font-family: 'Playfair Display', serif;
            font-size: 26px;
            font-weight: 600;
        }
    }
    .hero-section {
        background: var(--gray-500);
        ngb-carousel {
            .picsum-img-wrapper {
                img {
                    width: 100%;
                    max-height: 375px;
                    object-fit: cover;
                }
            }
            h3 {
                font-family: 'Playfair Display', serif;
                font-size: 22px;
                font-weight: 600;
            }
        }
        .hero-banner {
            border-left: #2222 1px solid;
            border-right: #2222 1px solid;
            mat-card {
                background-color: var(--gray-500);
                box-shadow: none;
                margin-top: 10px;
                img {
                    width: 80px;
                    height: 60px;
                    object-fit: contain;
                    margin: 0 auto;
                    margin-bottom: 20px;
                }
                h5 {
                    font-size: 15px;
                    font-weight: 600;
                    text-align: center;
                    opacity: .85;
                }
                p {
                    text-align: center;
                    color: var(--gray-600);
                }
            }
        }
        .hero-aside {
            background-color: var(--gray-400);
            padding: 10px;
            max-height: 670px;
            overflow: scroll;
            h4 {
                margin: 0;
            }
            .top-category {
                border-radius: 5px;
                padding: 17px 5px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: var(--gray-500);
                opacity: .75;
                transition: all .3s ease-in-out;
                cursor: pointer;
                span {
                    text-align: center;
                }
            }
            .top-category:hover {
                background-color: var(--green-400);
                color: var(--white);
                opacity: 1;
            }
            ul {
                li {
                    width: 100%;
                    background: var(--gray-500);
                    border-radius: 5px;
                    padding: 10px;
                    margin-bottom: 8px;
                    transition: all .3s ease-in-out;
                    a {
                        width: 100%;
                        text-decoration: none;
                        color: var(--gray-600);
                        span {
                            margin-left: 10px;
                        }
                    }
                }
                li:hover {
                    background-color: var(--green-400);
                    a {
                        color: var(--white);
                    }
                }
            }
        }        
    }  

    .tabs-section {
        button {
            color: var(--gray-600);
            padding-left: 0;
            margin-right: 10px;
            font-weight: 700;
        }
        button.active {
            border-bottom: 2.5px solid var(--green-400);
        }
        .tab-pane {
            padding-top: 10px;
        }
        .tabs-aside {
            background-color: var(--gray-400);
            padding: 10px;
            max-height: 390px;
            overflow: scroll;
            padding-bottom: 50px;
            ul {
                li {
                    width: 100%;
                    background: var(--gray-500);
                    border-radius: 5px;
                    padding: 10px;
                    margin-bottom: 8px;
                    transition: all .3s ease-in-out;
                    a {
                        width: 100%;
                        text-decoration: none;
                        color: var(--gray-600);
                        span {
                            margin-left: 10px;
                        }
                    }
                }
                li:hover {
                    background-color: var(--green-400);
                    a {
                        color: var(--white);
                    }
                }
            }
            .bottom-gradient {
                position: absolute;
                width: 100%;
                left: 0;
                bottom: 0;
                height: 50px;
                background: rgb(0,0,0);
                background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 100%);
            }
        }
        .tabs-main {
            border-left: #2222 1px solid;
        }
    }

    .promote-section {
        height: 432px;
        background: linear-gradient(
            to bottom,
            rgba(0,0,0, .4),
            rgba(0,0,0, .5)
        ),url(../../../../assets/images/backgrounds/background-3.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        .container {
            color: var(--white);
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            button {
                padding: 10px 15px;
                display: flex;
                align-items: center;
                background-color: var(--green-400);
                border: none;
                color: var(--white);
                font-size: 12px;
                font-weight: 400;
                transition: all .3s ease-in-out;
                i {
                    margin-left: 10px;
                }
            }
            button:hover {
                background-color: var(--green-500);
            }
            p {
                max-width: 700px;
                line-height: 30px;
                opacity: .85;
            }
        }
    }

    .catalog-section {
        padding-top: 80px;
        padding-bottom: 100px;
        text-align: center;
        background-color: var(--gray-500);
        .title-divider {
            margin: 0 auto;
            margin-bottom: 20px;
        }
        .catalog-single {
            background: var(--white);
            border-radius: 5px;
            padding: 15px;
            ul {
                li {
                    margin-bottom: 5px;
                    a {
                        text-decoration: none;
                        color: var(--gray-600);
                        transition: .3s ease-in-out all;
                    }
                    a:hover {
                        font-weight: 700;
                        color: var(--green-400);
                    }
                }
            }
            a {
                color: var(--green-400);
                padding-top: 5px;
                .fa-solid {
                    margin-right: 5px;
                }
            }
            img {
                margin-top: 15px;
                border-radius: 5px;
                width: 100%;
                aspect-ratio: 1;
                object-fit: cover;
            }
        }
    }

    @media only screen and (max-width: 500px) {
        .hero-section {
            .hero-banner {
                ngb-carousel {
                    img {
                        height: 350px !important;
                    }
                }
            }
        }

        .catalog-section {
            .catalog-single {
                ul li a {
                    font-size: 20px !important;
                }
                ul li {
                    margin-bottom: 15px !important;
                }
            }
        }
    }
}