<section class="single-shop" *ngIf="shop">
    <div class="identities">
        <!-- <div class="cover">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3859.022959379257!2d-17.47065692536832!3d14.711293724357906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xec172a4a47b525b%3A0x250389427be60011!2sCit%C3%A9%20Keur%20Gorgui%2C%20Dakar!5e0!3m2!1sfr!2ssn!4v1681917891864!5m2!1sfr!2ssn" height="100%" style="border:0;width: 100vw;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div> -->
        <div class="cover">
            <img src="../../../../assets/images/backgrounds/patterns/more-leaves.png" alt="pattern">
        </div>
        <div class="container py-4">
            <div class="row">
                <div class="col-2">
                    <div class="profile">
                        <img src="../../../../assets/images/shops/adaa-ada.png" alt="shop" class="img-thumbnail">
                    </div>
                </div>
                <div class="col-5" *ngIf="shop">
                    <div class="shop-description">
                        <h1 class="text-ellip text-capitalize">{{shop.shopLibelle}}</h1>
                        <p>{{shop.shopDescription}}</p>
                    </div>
                </div>
                <div class="col-5">
                    <div class="shop-infos d-flex justify-content-between">
                        <div class="contacts">
                            <h2 class="m-0">Informations :</h2>
                            <a href="">
                                <i class="fa-solid fa-at"></i>
                                <span>adaa@gmail.com</span><br>
                            </a>
                            <a href="">
                                <i class="fa-solid fa-address-book"></i>
                                <span>(+221) 77 123 45 67</span><br>
                            </a>
                            <a href="" class="text-ellip">
                                <i class="fa-solid fa-location-dot"></i>
                                <span>Dakar, Sénégal, Cité Keur Gui ...</span><br>
                            </a>
                            <a href="">
                                <i class="fa-solid fa-globe"></i>
                                <span>https://adaa-ada.com</span><br>
                            </a>
                            <span>
                                <i class="fa-solid fa-calendar-days"></i>
                                <span>Lundi au vendredi : 8H15 - 16H45.</span><br>
                            </span>
                        </div>
                        <div class="socials">
                            <h2>Réseaux sociaux :</h2> 
                            <div class="d-flex align-items-center">
                                <div class="row row-cols-4">
                                    <div class="col">
                                        <div>
                                            <a href="" matTooltip="Facebook">
                                                <i class="fa-brands fa-facebook-f"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div>
                                            <a href="" matTooltip="Instagram">
                                                <i class="fa-brands fa-instagram"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div>
                                            <a href="" matTooltip="Tiktok">
                                                <i class="fa-brands fa-tiktok"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <main>
        <div class="container">
            <div class="row">
                <div class="col col-2">
                    <aside class="container h-100">
                        <img src="../../../../assets/images/banners/banner-420x420.jpeg" alt="banner">
                        <h4 class="text-ellip pt-3 fw-bold">Catégories</h4>
                        <div class="title-divider" style="margin-top: -12px;"></div>
                        <ul>
                            <li>
                                <a class="text-ellip" href="" matTooltip="Cosmétique, Santé et Bien-être">
                                    <i class="fa-solid fa-heart"></i>
                                    <span>Cosmétique, Santé et Bien-être</span>
                                </a>
                            </li>
                            <li class="active">
                                <a class="text-ellip" href="" matTooltip="Mode & Accessoires">
                                    <i class="fa-solid fa-person-half-dress"></i>
                                    <span>Mode & Accessoires</span>
                                </a>
                            </li>
                        </ul>
                    </aside>
                </div>
                <div class="col col-10">
                    <div class="container all-products">
                        <mat-toolbar class="mb-3">
                            <div class="d-flex align-items-center justify-content-between w-100">
                                <div class="display-types d-flex align-items-center">
                                    <button mat-icon-button class="active"> 
                                        <i class="fa-solid fa-grip-vertical"></i>
                                    </button>
                                    <button mat-icon-button>
                                        <i class="fa-solid fa-list"></i>
                                    </button>
                                </div>
                                <div class="d-flex align-items-center">
                                    <p>Trier par:</p>
                                    <select class="form-select form-select-sm" aria-label="Default select example">
                                        <option selected>Sélectionnez</option>
                                        <option value="1">Ventes, ordre décroissant</option>
                                        <option value="2">Pertinence</option>
                                        <option value="3">Nom,  A à Z</option>
                                        <option value="4">Nom, Z à A</option>
                                        <option value="5">Prix, croissant</option>
                                        <option value="6">Prix, décroissant</option>
                                    </select>
                                    <select style="max-width: 75px;" class="form-select form-select-sm" aria-label="Default select example">
                                        <option selected>Nombre à afficher</option>
                                        <option value="1">12</option>
                                        <option value="2">25</option>
                                        <option value="3">50</option>
                                        <option value="3">75</option>
                                        <option value="3">100</option>
                                    </select>
                                </div>
                            </div>
                        </mat-toolbar>
                        <div class="row row-cols-4" *ngIf="!isProductsLoaded">
                            <div class="col" *ngFor="let card of loaderCards">
                                <app-product-card-loader></app-product-card-loader>
                            </div>
                        </div>
                        <div class="empty-result d-flex flex-column align-items-center" *ngIf="!products || products.length === 0">
                            <img src="../../../../../assets/images/empty.svg" alt="pas de resultats" class="mt-3 mb-5">
                            <span class="w-100 text-center fw-bold alert alert-danger">Pas d'annonces trouvées !</span>
                        </div>
                        <div class="row row-cols-4 g-3 mb-4" *ngIf="isProductsLoaded">
                            <div class="col" *ngFor="let product of products">
                                <app-product-card [product]="product"></app-product-card>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</section>