<section class="manage-section">
    <div class="container">
        <div class="row">
            <div class="col col-3">
                <app-manage-aside activePath="manage-deliveries-address"></app-manage-aside>
            </div>
            <div class="col col-9">
                <main>
                    <h1>Mes adresses de livraisons</h1>
                    <mat-card>
                      <mat-card-content>
                        
                      </mat-card-content>
                    </mat-card>
                      
                </main>
            </div>
        </div>
    </div>
</section>