<div class="product-card">
    <div class="img-holder position-relative">
        <img [src]="choosedImg" alt="">
        <div class="position-absolute zoom-icon d-none">
            <i class="fa-solid fa-magnifying-glass-plus"></i>
        </div>
    </div>
    <div class="infos">
        <div class="top-infos">
            <span class="text-ellip text-center">Nom du produit</span>
        </div>
        <mat-divider></mat-divider>
        <div class="text-center">
            <span class="text-ellip category w-100">chaussure</span>
            <div class="price-actions position-relative">
                <span class="text-ellip price">5.000 F CFA</span>
                <div class="actions position-absolute">
                    <div class="input-cont d-flex align-items-center h-100">
                        <i class="fa-solid fa-chevron-left" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"></i><br>
                        <input type="number" value="1" min="1" max="10">
                        <i class="fa-solid fa-chevron-right" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"></i>
                    </div>
                    <button matTooltip="Ajouter au panier" class="add-to-cart">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </button>
                    <button matTooltip="Ajouter à la liste de souhaits" class="add-to-wishlist">
                        <i class="fa-solid fa-heart"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>