:host {
    .product-card {
        border-radius: 4px;
        border: var(--gray-500) 1px solid;
        overflow: hidden;
        .img-holder {
            cursor: pointer;
            width: 100%;
            overflow: hidden;
            img {
                width: 100%;
                aspect-ratio: 1;
                max-height: 200px;
                object-fit: cover;
                transition: all ease-in-out .3s;
            }
            img:hover {
                scale: 1.1;
                -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                filter: grayscale(100%);
            }
            .position-absolute {
                transform: translateX(-50%) translateY(-50%);
                pointer-events: none;
                top: 50%;
                left: 50%;
                color: var(--white);
                width: 40px;
                height: 40px;
                background-color: var(--green-400);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 7px;
                opacity: .85;
            }
        }
        .infos {
            .top-infos {
                background-color: #2222;
                color: var(--white);
                font-size: 17px;
                padding: 10px 10px;
                margin-top: -40px;
                backdrop-filter: blur(5px);
            }
            .category {
                padding: 5px 0;
                text-transform: uppercase;
                font-weight: 700;
                background: var(--gray-500);
                display: none;
            }
            .price-actions {
                background-color: var(--gray-500);
                color: var(--gray-600);
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                .price {
                    font-size: 16px;   
                    font-weight: 700;
                    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
                }
                .actions {
                    transition: all .3s ease-in-out;
                    background-color: var(--green-300);
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    opacity: 0;
                    pointer-events: none;
                    .input-cont {
                        background-color: var(--gray-500);
                        i {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 100%;
                            width: 30px;
                            object-fit: contain;
                            transition: all .3s ease-in-out;
                            color: var(--gray-600);
                        }
                        i:hover {
                            color: var(--white);
                            background-color: var(--gray-600);
                        }
                        input {
                            background-color: transparent;
                            border: none;
                            height: 100%;
                            outline: none;
                            color: var(--gray-600);
                            text-align: center;
                            font-weight: 700;
                        }
                        input[type="number"]::-webkit-outer-spin-button,
                        input[type="number"]::-webkit-inner-spin-button {
                            display: none;
                        }
                    }
                    button {
                        height: 100%;
                        border: none;
                        transition: all ease-in-out .3s;
                        background-color: var(--green-400);
                        padding: 0 15px;
                        color: var(--white);
                    }
                    button:hover{
                        opacity: 1;
                        scale: 1.1;
                        z-index: 5;
                    }
                    .add-to-wishlist {
                        background-color: var(--green-500);
                    }
                }
            }
        }
    }
    .product-card.hovered {
        .actions {
            opacity: 1 !important;
            pointer-events:all !important;
        }
    }
}