<section class="manage-section">
    <div class="container">
        <div class="row">
            <div class="col col-3">
                <app-manage-aside activePath="manage-list-de-souhaits"></app-manage-aside>
            </div>
            <div class="col col-9">
                <main>
                    <h1>Ma liste de souhaits</h1>
                    <mat-card>
                        <mat-card-content>
                            <div class="empty-result d-flex flex-column align-items-center" *ngIf="!products || products.length === 0">
                                <img src="../../../../../assets/images/empty.svg" alt="pas de resultats" class="mt-3 mb-5" loading="lazy">
                                <span class="w-100 text-center fw-bold alert alert-danger">Pas d'annonces trouvées !</span>
                            </div>
                        </mat-card-content>
                    </mat-card>
                      
                </main>
            </div>
        </div>
    </div>
</section>