<section class="manage-section">
  <div class="container">
    <div class="row">
      <div class="col col-9">
        <main class="h-100 p-3">
          <h1>Foire aux questions</h1>
          <div class="pt-3">
            <div class="card">
              <div class="card-body">
                <div>
                  <details open>
                    <summary>Mode de paiements</summary>
                    <div>
                      Nous sécurisons vos paiements. Une fois le panier remplie
                      sur notre plateforme, le client peut régler sa commande
                      par carte bancaire, par PayPal ou par Mobile Money (Orange
                      Money, Wave, Free Money ...). Le client peut également
                      demander un paiement par espèces à la livraison.
                    </div>
                  </details>
                  <details>
                    <summary>Délai de livraison (Sénégal/France)</summary>
                    <div>
                      Les livraisons en France et au Sénégal sont faites entre
                      01 à 08 jours ouvrés. Vous pouvez récupérer aussi vos
                      commandes dans nos points relais qui sont à Dakar et à
                      Paris.
                    </div>
                  </details>
                  <details>
                    <summary>Les points relais (Sénégal/France)</summary>
                    <div>
                      La veille de votre livraison, Outalma market vous enverra
                      un message pour vous prévenir. Si vous n’êtes pas
                      disponible, nous pouvons reprogrammer la livraison au
                      moment où vous serez apte à recevoir vos colis, sinon vous
                      devrez passer au point relais le plus proche de chez vous
                      pour votre commande.
                    </div>
                  </details>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
      <div class="col col-3">
        <aside class="py-3">
          <h2>Articles de blog</h2>
        </aside>
        <div class="card">
          <div class="card-body">
            ...
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
