<section class="manage-section">
    <div class="container">
        <div class="row">
            <div class="col col-9">
                <main class="h-100 p-3">
                    <h1>Foire aux questions</h1>
                    <div class="pt-3">
                      <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                          <h3 class="fw-bold accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Mode de paiements
                            </button>
                          </h3>
                          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              Nous sécurisons vos paiements. Une fois le panier remplie sur notre plateforme, le client peut régler sa commande par carte bancaire, par PayPal ou par Mobile Money (Orange Money, Wave, Free Money ...).
                              Le client peut également demander un paiement par espèces à la livraison.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h3 class="fw-bold accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              Délai de livraison (Sénégal/France)
                            </button>
                          </h3>
                          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              Les livraisons en France et au Sénégal sont faites entre 01 à 08 jours ouvrés.
                              Vous pouvez récupérer aussi vos commandes dans nos points relais qui sont à Dakar et à Paris.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h3 class="fw-bold accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              Les points relais (Sénégal/France)
                            </button>
                          </h3>
                          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              La veille de votre livraison, Outalma market vous enverra un message pour vous prévenir.
                              Si vous n’êtes pas disponible, nous pouvons reprogrammer la livraison au moment où vous serez apte à recevoir vos colis, sinon vous devrez passer au point relais le plus proche de chez vous pour votre commande. 
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </main>
            </div>
            <div class="col col-3">
              <aside class="pt-3">
                  <h2>Articles</h2>
              </aside>
            </div>
        </div>
    </div>
</section>