<div *ngIf="shop">
    <a routerLink="/boutiques/{{shop.shopSlug}}" matTooltip="{{shop.shopLibelle}}">
        <article class="shop-card">
            <div class="img-holder">
                <img *ngIf="!shop.shopProfileImage" alt="{{shop.shopLibelle}}" loading="lazy"
                src="../../../../../../assets/images/shops/logo-placeholder.jpeg">
                <img src="{{imageBaseUrl+shop.shopProfileImage}}" crossorigin="anonymous"
                alt="{{shop.shopLibelle}}" loading="lazy" *ngIf="shop.shopProfileImage">
            </div>
        </article>
    </a>
</div>