:host {
    main {
        button {
            color: var(--black);
            font-weight: 700;
            padding: 10px 40px;
        }
        button.active {
            background: var(--green-400);
            border: none;
            border-radius: 0;
            color: var(--white);
        }
        .nav-tabs {
            button.active {
                border-top-left-radius: 7px;
                border-top-right-radius: 7px;
            }
        }
        .tab-pane {
            padding: 30px 0;
            .social-btn {
                background-color: transparent;
                margin: 0 10px;
                border: none;
                width: 50px;
                height: 50px;
                display: flex;
                border-radius: 7px;
                justify-content: center;
                align-items: center;
                border: 1px solid var(--gray-500);
                transition: all ease-in-out .2s;
                img {
                    margin-right: 10px;
                }
            }
            .social-btn:hover {
                background-color: var(--gray-400);
            }
            .fb-btn {
                img {
                    scale: 1.3;
                }
            }
        }
    }
}