<section class="manage-section">
  <div class="container">
    <div class="row">
      <div class="col col-3">
        <app-manage-aside activePath="profile"></app-manage-aside>
      </div>
      <div class="col col-9">
        <main class="h-100 p-3">
          <h1>Compte et profile</h1>
          <div class="title-divider"></div>
          <mat-card>
            <mat-card-content>
              <div
                class="account-profile mx-auto py-4"
                style="max-width: 750px"
              >
                <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button
                      class="nav-link active"
                      id="home-tab"
                      data-bs-toggle="tab"
                      data-bs-target="#home-tab-pane"
                      type="button"
                      role="tab"
                      aria-controls="home-tab-pane"
                      aria-selected="true"
                    >
                      Compte et profile
                    </button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button
                      class="nav-link"
                      id="profile-tab"
                      data-bs-toggle="tab"
                      data-bs-target="#profile-tab-pane"
                      type="button"
                      role="tab"
                      aria-controls="profile-tab-pane"
                      aria-selected="false"
                    >
                      Notifications
                    </button>
                  </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                  <div
                    class="tab-pane fade show active"
                    id="home-tab-pane"
                    role="tabpanel"
                    aria-labelledby="home-tab"
                    tabindex="0"
                  >
                    <div class="row row-cols-2">
                      <div class="col">
                        <span class="fw-bold">Votre prénom</span>
                        <mat-form-field appearance="outline" class="w-100">
                          <mat-label>Prénom</mat-label>
                          <input matInput placeholder="Tidiane" />
                          <mat-icon matSuffix>person</mat-icon>
                        </mat-form-field>
                      </div>
                      <div class="col">
                        <span class="fw-bold">Votre nom</span>
                        <mat-form-field appearance="outline" class="w-100">
                          <mat-label>Nom</mat-label>
                          <input matInput placeholder="Ndiaye" />
                          <mat-icon matSuffix>person</mat-icon>
                        </mat-form-field>
                      </div>
                      <div class="col">
                        <span class="fw-bold">Votre pays de résidence</span>
                        <mat-form-field appearance="outline" class="w-100">
                          <mat-label>Pays</mat-label>
                          <mat-select>
                            <mat-option value="empty" selected
                              >-- Veuillez selectionner --</mat-option
                            >
                            <mat-option
                              *ngFor="let country of countries"
                              [value]="country.libelle"
                            >
                              {{ country.libelle }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col">
                        <span class="fw-bold">Votre ville de résidence</span>
                        <mat-form-field appearance="outline" class="w-100">
                          <mat-label>Ville</mat-label>
                          <mat-select>
                            <mat-option
                              *ngFor="let city of cities"
                              [value]="city.libelle"
                            >
                              {{ city.libelle }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col">
                        <div class="d-flex align-items-center">
                          <span class="fw-bold">Numéro de téléphone</span>
                          <span class="badge bg-success mx-1">Verifié</span>
                        </div>
                        <div class="mt-2">
                          <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Votre numéro de téléphone</mat-label>
                            <input matInput placeholder="Placeholder" />
                            <mat-icon matSuffix>phone</mat-icon>
                          </mat-form-field>
                          <div class="form-check form-switch">
                            <input
                              class="form-check-input"
                              [(ngModel)]="isChecked"
                              type="checkbox"
                              role="switch"
                              id="flexSwitchCheckChecked"
                              checked
                            />
                            <label
                              class="form-check-label"
                              for="flexSwitchCheckChecked"
                              >Me contacter via Whatsapp</label
                            >
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="mb-2 d-flex align-items-center">
                          <span class="fw-bold">Adresse e-mail</span>
                          <span class="badge bg-danger mx-1">Non vérifié</span>
                        </div>
                        <p>
                          <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Votre adresse e-mail</mat-label>
                            <input matInput placeholder="Placeholder" />
                            <mat-icon matSuffix>alternate_email</mat-icon>
                          </mat-form-field>
                        </p>
                      </div>
                    </div>
                    <div class="my-3">
                      <mat-divider></mat-divider>
                    </div>
                    <div class="row">
                      <div class="col">
                        <button
                          class="w-100 mb-3 social-btn fb-btn disabled"
                          (click)="linkAccountToFacebook()"
                        >
                          <img
                            width="20"
                            src="../../../../../assets/images/facebook.svg"
                            alt="facebook logo | Akawor"
                          />
                          <span>Lier à votre compte facebook</span>
                        </button>
                      </div>
                      <div class="col">
                        <button
                          class="w-100 social-btn disabled"
                          (click)="linkAccountToGoogle()"
                        >
                          <img
                            width="20"
                            src="../../../../../assets/images/google.svg"
                            alt="google logo | Akawor"
                          />
                          <span>Lier à votre compte google</span>
                        </button>
                      </div>
                    </div>
                    <button
                      class="w-100 btn mt-3 btn-dark"
                      style="color: var(--white)"
                    >
                      Mettre à jour
                    </button>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="profile-tab-pane"
                    role="tabpanel"
                    aria-labelledby="profile-tab"
                    tabindex="0"
                  >
                    <h4>
                      Sélectionnez les notifications que vous souhaitez recevoir
                    </h4>
                    <div class="row mt-5">
                      <div class="col col-4">
                        <div class="d-flex flex-column">
                          <span class="fw-bold">Via Email</span>
                          <div class="form-check form-switch mt-3">
                            <input
                              class="form-check-input"
                              [(ngModel)]="checked"
                              type="checkbox"
                              role="switch"
                              id="flexSwitchCheckChecked"
                              checked
                            />
                            <label
                              class="form-check-label"
                              for="flexSwitchCheckChecked"
                              >Offres et promos</label
                            >
                          </div>
                          <div class="form-check form-switch mt-3">
                            <input
                              class="form-check-input"
                              [(ngModel)]="checked"
                              type="checkbox"
                              role="switch"
                              id="flexSwitchCheckChecked"
                              checked
                            />
                            <label
                              class="form-check-label"
                              for="flexSwitchCheckChecked"
                              >Via mail</label
                            >
                          </div>
                          <div class="form-check form-switch mt-3">
                            <input
                              class="form-check-input"
                              [(ngModel)]="checked"
                              type="checkbox"
                              role="switch"
                              id="flexSwitchCheckChecked"
                              checked
                            />
                            <label
                              class="form-check-label"
                              for="flexSwitchCheckChecked"
                              >Via mail</label
                            >
                          </div>
                        </div>
                      </div>
                      <div class="col col-4">
                        <div class="d-flex flex-column">
                          <span class="fw-bold">Via SMS</span>
                          <div class="form-check form-switch mt-3">
                            <input
                              class="form-check-input"
                              [(ngModel)]="checked"
                              type="checkbox"
                              role="switch"
                              id="flexSwitchCheckChecked"
                              checked
                            />
                            <label
                              class="form-check-label"
                              for="flexSwitchCheckChecked"
                              >Mes commandes</label
                            >
                          </div>
                          <div class="form-check form-switch mt-3">
                            <input
                              class="form-check-input"
                              [(ngModel)]="checked"
                              type="checkbox"
                              role="switch"
                              id="flexSwitchCheckChecked"
                              checked
                            />
                            <label
                              class="form-check-label"
                              for="flexSwitchCheckChecked"
                              >Via mail</label
                            >
                          </div>
                          <div class="form-check form-switch mt-3">
                            <input
                              class="form-check-input"
                              [(ngModel)]="checked"
                              type="checkbox"
                              role="switch"
                              id="flexSwitchCheckChecked"
                              checked
                            />
                            <label
                              class="form-check-label"
                              for="flexSwitchCheckChecked"
                              >Via mail</label
                            >
                          </div>
                        </div>
                      </div>
                      <div class="col col-4">
                        <div class="d-flex flex-column">
                          <span class="fw-bold">Ma boutique</span>
                          <div class="form-check form-switch mt-3">
                            <input
                              class="form-check-input"
                              [(ngModel)]="checked"
                              type="checkbox"
                              role="switch"
                              id="flexSwitchCheckChecked"
                              checked
                            />
                            <label
                              class="form-check-label"
                              for="flexSwitchCheckChecked"
                              >Via mail</label
                            >
                          </div>
                          <div class="form-check form-switch mt-3">
                            <input
                              class="form-check-input"
                              [(ngModel)]="checked"
                              type="checkbox"
                              role="switch"
                              id="flexSwitchCheckChecked"
                              checked
                            />
                            <label
                              class="form-check-label"
                              for="flexSwitchCheckChecked"
                              >Via mail</label
                            >
                          </div>
                          <div class="form-check form-switch mt-3">
                            <input
                              class="form-check-input"
                              [(ngModel)]="checked"
                              type="checkbox"
                              role="switch"
                              id="flexSwitchCheckChecked"
                              checked
                            />
                            <label
                              class="form-check-label"
                              for="flexSwitchCheckChecked"
                              >Via mail</label
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                    <button
                      class="w-100 btn mt-5 btn-dark"
                      style="color: var(--white)"
                    >
                      Mettre à jour mes paramètres de notifications
                    </button>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </main>
      </div>
    </div>
  </div>
</section>
