<footer>
    <div class="container py-4">
        <div class="newsletter row">
            <div class="col">
                <div>
                    <h4>Restez à l'affût !</h4>
                    <p>Ne manquez rien de Akawor en vous inscrivant à notre newsletter.</p>
                </div>
            </div>
            <div class="col">
                <div class="d-flex align-items-center justify-content-center">
                    <input class="w-75 input" name="text" placeholder="tidiane@xyz.com" type="text">
                    <button class="w-25">Soumettre</button>
                </div>
            </div>
        </div>
        <mat-divider style="border-top-color: var(--white);"></mat-divider>
        <div class="main-footer row mt-4">
            <div class="col">
                <div>
                    <!-- <h2>LOGO</h2> -->
                    <img src="../../../assets/images/identities/akawor-nobg.png" alt="akawor logo" width="150">
                    <p class="mt-2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <div class="d-flex socials mt-4">
                        <a href="">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                        <a href="">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                        <a href="">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div>
                    <h2>Catégories</h2>
                    <ul>
                        <li><a href="">Cosmétique, Santé et Bien-être</a></li>
                        <li><a href="">Mode & Accessoires</a></li>
                        <li><a href="">Produits alimentaires</a></li>
                        <li><a href="">Autres catégories</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div>
                    <h2>Pourquoi Akawor ?</h2>
                    <ul>
                        <li><a href="">Notre histoire</a></li>
                        <li><a href="">Nos objectifs</a></li>
                        <li><a href="">Nos engagements</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div>
                    <h2>Nos coordonnées</h2>
                    <ul>
                        <li>Disponible 24/7</li>
                        <li>Téléphone : <a href="tel:+221771234567">(+221) 77 123 45 67</a></li>
                        <li>Email: <a href="mailto:contact@akawor.com">contact@akawor.com</a></li>
                        <li>Ou rendez-nous visite : Sacré Coeur 3 Extension, Villa n°49, Dakar / Sénégal</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="pt-4 bottom-footer">
            <p class="text-center">Made with ❤️ by <a href="https://mythepeople.com/" target="_blank">Mythe People.</a></p>
        </div>
    </div>
</footer>