<div class="manage-section">
    <div class="container">
        <h1>Changez mon mot de passe</h1>
        <mat-card>
            <mat-card-content>
                <div style="max-width: 600px;" class="mx-auto">
                    <p class="mb-2">
                        Vous souhaitez changer votre mot de passe ?
                    </p>
                    <mat-form-field appearance="outline" class="w-100 mt-3">
                        <mat-label>Saisissez votre ancien mot de passe</mat-label>
                        <input matInput [type]="hidePassword ? 'password' : 'text'" [formControl]="oldpasswordControl" />
                        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-pressed]="hidePassword">
                            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-hint>Mot de passe</mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100 mt-3">
                        <mat-label>Saisissez votre nouveau mot de passe</mat-label>
                        <input matInput [type]="hidePassword ? 'password' : 'text'" [formControl]="newPasswordControl" />
                        <mat-icon matSuffix>password</mat-icon>
                        <mat-hint>Nouveau mot de passe</mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100 mt-3">
                        <mat-label>Confirmez votre nouveau mot de passe</mat-label>
                        <input matInput [type]="hidePassword ? 'password' : 'text'" [formControl]="confirmNewPasswordControl" />
                        <mat-icon matSuffix>password</mat-icon>
                        <mat-hint>Confirmation</mat-hint>
                    </mat-form-field>
                    <div class="mt-3 d-flex justify-content-end"
                    [ngClass]="{'disabled': oldpasswordControl.invalid || newPasswordControl.invalid || confirmNewPasswordControl.invalid}">
                        <button class="btn btn-dark" (click)="changePassword()">
                            Soumettre
                        </button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>