<aside>
    <label class="form-label">Mon compte</label>
    <ul>
        <li>
            <a class="w-100 text-start" [ngClass]="{'active': activePath === 'profile'}" routerLink="/parametres/compte-et-profile">
                <i class="fa-solid fa-user"></i>
                <span class="text-ellip">Compte & profile</span>
            </a>
        </li>
        <li>
            <a [ngClass]="{'active': activePath === 'manage-notifs'}" 
            class="w-100 text-ellip text-start" routerLink="/parametres/notifications">
                <i class="fa-solid fa-bell"></i>
                <span class="text-ellip">Gérer mes notifications</span>
            </a>
        </li>
        <li *ngIf="role && role.libelle === 'ROLE_CLIENT'">
            <a [ngClass]="{'active': activePath === 'manage-panier'}" 
            class="w-100 text-ellip text-start" routerLink="/mon-panier">
                <i class="fa-solid fa-cart-shopping"></i>
                <span class="text-ellip">Gérer mon panier</span>
            </a>
        </li>
        <li *ngIf="role && role.libelle === 'ROLE_CLIENT'">
            <a [ngClass]="{'active': activePath === 'manage-list-de-souhaits'}" 
            class="w-100 text-ellip text-start" routerLink="/ma-liste-de-souhaits">
                <i class="fa-solid fa-heart"></i>
                <span class="text-ellip">Gérer ma liste de souhaits</span>
            </a>
        </li>
        <li>
            <a class="w-100 text-ellip text-start" (click)="logout()">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span class="text-ellip">Déconnexion</span>
            </a>
        </li>
    </ul>
    <label class="form-label">Mes commandes</label>
    <ul>
        <li>
            <a class="w-100 text-start" [ngClass]="{'active': activePath === 'manage-commands'}" routerLink="/commandes">
                <i class="fa-solid fa-box"></i>
                <span class="text-ellip">Gérer mes commandes</span>
            </a>
        </li>
    </ul>
    <label class="form-label" *ngIf="role && role.libelle === 'ROLE_VENDEUR'">Mes annonces</label>
    <ul *ngIf="role && role.libelle === 'ROLE_VENDEUR'">
        <li>
            <a [ngClass]="{'active': activePath === 'publish-announce'}" class="w-100 text-ellip text-start" 
            routerLink="/produits/nouvelle-annonce">
                <i class="fa-solid fa-bullhorn"></i>
                <span class="text-ellip">Publier une annonce</span>
            </a>
        </li>
        <li>
            <a [ngClass]="{'active': activePath === 'manage-announces'}" class="w-100 text-ellip text-start"
            routerLink="/produits/mes-annonces">
                <i class="fa-solid fa-gears"></i>
                <span class="text-ellip">Gérer mes annonces</span>
            </a>
        </li>
    </ul>
    <label class="form-label">Mes livraisons</label>
    <ul>
        <li>
            <a [ngClass]="{'active': activePath === 'manage-deliveries'}" class="w-100 text-ellip text-start"
            routerLink="/livraisons">
                <i class="fa-solid fa-truck"></i>
                <span class="text-ellip">Gérer mes livraisons</span>
            </a>
        </li>
        <li *ngIf="role && role.libelle === 'ROLE_CLIENT'">
            <a [ngClass]="{'active': activePath === 'manage-deliveries-address'}" class="w-100 text-ellip text-start"
            routerLink="/livraisons/mes-adresses">
                <i class="fa-solid fa-map-location-dot"></i>
                <span class="text-ellip">Mes adresses</span>
            </a>
        </li>
    </ul>
    <label class="form-label" *ngIf="role && role.libelle === 'ROLE_VENDEUR'">Ma boutique</label>
    <ul *ngIf="role && role.libelle === 'ROLE_VENDEUR'">
        <li>
            <a class="w-100 text-ellip text-start" routerLink="/boutiques/dynamic">
                <i class="fa-solid fa-eye"></i>
                <span class="text-ellip">Aperçu de ma boutique</span>
            </a>
        </li>
        <li>
            <a [ngClass]="{'active': activePath === 'manage-shop'}" class="w-100 text-ellip text-start"
            routerLink="/parametres/ma-boutique">
                <i class="fa-solid fa-gears"></i>
                <span class="text-ellip">Gérer ma boutique</span>
            </a>
        </li>
    </ul>
</aside>