<section class="manage-section">
  <div class="container">
    <div class="row">
      <div class="col col-3 d-none d-xl-block">
        <app-manage-aside activePath="manage-commands"></app-manage-aside>
      </div>
      <div class="col col-xl-9">
        <main>
          <h1>Mes commandes</h1>
          <mat-card>
            <mat-card-content>
              <div *ngIf="!orders || orders.length===0" matTooltip="Pas de commandes !"
              class="d-flex align-items-center justify-content-center py-5">
                <img src="assets/images/empty.svg" alt="empty box">
              </div>
              <table id="myCommands" class="display" style="width: 100%" *ngIf="orders && orders.length>0">
                <thead>
                  <tr>
                    <th>Référence</th>
                    <th>Produits</th>
                    <th>Date</th>
                    <th>Etat</th>
                    <th>Total</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let order of orders; let index = index">
                    <td class="fw-bold">#{{order.orderReference}}</td>
                    <td>
                      <span class="badge text-bg-info">
                        {{order.OrderLine?.orderLineProducts.length}} produit(s)
                      </span>
                    </td>
                    <td>{{order.createdAt|date}}</td>
                    <td>
                      <span class="badge text-bg-warning"
                      *ngIf="order.orderStatus==='AWAITING'">Traitement en cours</span>
                      <span class="badge text-bg-warning"
                      *ngIf="order.orderStatus==='ENROUTE'">Colis en route</span>
                      <span class="badge text-bg-success"
                      *ngIf="order.orderStatus==='DELIVERED'">Livraison effectuée</span>
                    </td>
                    <td>
                      {{order.OrderLine?.orderLineTotalPrice|my_currency}}
                    </td>
                    <td>
                      <button class="btn btn-sm btn-outline-dark">
                        Plus d'infos
                      </button>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th>Référence</th>
                    <th>Produits</th>
                    <th>Date</th>
                    <th>Etat</th>
                    <th>Total</th>
                    <th>Actions</th>
                  </tr>
                </tfoot>
              </table>
            </mat-card-content>
          </mat-card>
        </main>
      </div>
    </div>
  </div>
</section>
