<section class="manage-section">
  <div class="container">
    <div class="row">
      <div class="col col-3">
        <app-manage-aside activePath="manage-commands"></app-manage-aside>
      </div>
      <div class="col col-9">
        <main>
          <h1>Mes commandes</h1>
          <mat-card>
            <mat-card-content>
              <div *ngIf="!orders || orders.length===0" matTooltip="Pas de commandes !"
              class="d-flex align-items-center justify-content-center py-5">
                <img src="../../../../../assets/images/empty.svg" alt="empty box">
              </div>
              <table id="myCommands" class="display" style="width: 100%" *ngIf="orders && orders.length>0">
                <thead>
                  <tr>
                    <th>N°</th>
                    <th>Produits</th>
                    <th>Date</th>
                    <th>Etat</th>
                    <th>Total</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let order of orders; let index = index">
                    <td>{{index+1}}</td>
                    <td>
                      <span class="badge text-bg-info">10 produit(s)</span>
                    </td>
                    <td>Edinburgh</td>
                    <td>2011-04-25</td>
                    <td>$320,800</td>
                    <td>
                      <button class="btn btn-sm btn-outline-dark">
                        Plus d'infos
                      </button>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th>N°</th>
                    <th>Produits</th>
                    <th>Date</th>
                    <th>Etat</th>
                    <th>Total</th>
                    <th>Actions</th>
                  </tr>
                </tfoot>
              </table>
            </mat-card-content>
          </mat-card>
        </main>
      </div>
    </div>
  </div>
</section>
