:host {
    .products {
        max-height: 250px;
        overflow-x: hidden;
        overflow-y: scroll;
        .product {
            img {
                aspect-ratio: 1;
                object-fit: cover;
            }
            h5 {
                font-size: 17px;
            }
            p {
                color: var(--gray-600);
            }
        }
        .bottom-gradient {
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 10px;
            height: 50px;
            background: rgb(0,0,0);
            background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 100%);
        }
    }
}